{% extends "cm/base.html" %}
{% load bootstrap3 %}
{% load sorting_tags %}
{% block title %}Configuration{% endblock %}
{% block content %}
    {% auto_sort queryset %}
    <table class="table table-striped table-bordered table-condensed table-hover table-responsive">
        <thead>
            {% sort_th "Parameter Name" "name" %}
            {% sort_th "Parameter Value" "value" %}
            {% sort_th "Default Value" "default" %}
        </thead>

        {% for row in object_list %}
            <tr>
                <td>{{ row.name }}</td>
                <td>{{ row.value }}</td>
                <td>{{ row.default }}</td>
            </tr>
        {% endfor %}
    </table>
    {% bootstrap_pagination rows url='?'|add:request.META.QUERY_STRING size="small" %}
{% endblock %}