{% extends "cm/base.html" %}

{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block title %}Password Reset{% endblock %}
{% block content %}
    {% if validlink %}
        <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
        <form class="form-vertical" action="" method="post">
            {% csrf_token %}
            {{ bootstrap_form form }}
            <input type="submit" value="Submit" class="btn btn-primary">
        </form>

    {% else %}
        <div class="alert alert-danger">The password reset link was invalid, possibly because it has already been used. Please request a new
            password reset.</div>
    {% endif %}
{% endblock %}