{% extends "cm/base.html" %}

{% load bootstrap3 %}

{% block extra_head %}
    {{ form.media }}
{% endblock %}

{% block title %}Password Reset111{% endblock %}
{% block content %}
    <p>Forgotten your password? Enter your e-mail address below, and we'll e-mail instructions for setting a new
        one.</p>

    <form class="form-vertical" action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        <input type="submit" value="Submit" class="btn btn-primary">
    </form>
{% endblock %}
